/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Styling starts from here */
:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --border-radius: 4px;

}

body {
  font-family: var(--font-family);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.nav-info {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

button.restart {
  position: absolute;
  right: 0;
  bottom: 0.6em;

  border: none;
  border-radius: var(--border-radius);
  padding: 1vh 2vw;
}

button.restart:hover {
  cursor: pointer;
  border: 1px solid #000;
}

.game-score {
  display: flex;
  justify-content: space-evenly;
  border:  2px solid
}

.game-board {
  border: 2px solid #333;
  width: 90vmin;
  height: 90vmin;
  max-width: 500px;
  max-height: 500px;
  margin:0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square-cell {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
}

.square-cell:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.game-dialog,
.player-name-dialog {
  margin: auto;
  width: 60vmin;
  height: 65vmin;
  max-width: 300px;
  max-height: 350px;
  font-size: 1em;
}

.game-dialog {
  max-height: 200px;
}

.player-name-dialog h3 {
  text-align: center;
  margin-bottom: 1em;
}

.button-dialog {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
}

.button-dialog button {
  padding: 1em 2em;
  border: transparent;
}

.button-dialog button:hover {
  border: 1px solid #000;
  cursor: pointer;  
}

.form-row {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap:0.8em;
}

.form-row input {
  width: 50%;
  padding: 0.5em;
  font-size: 0.8em;
}

.footer {
  padding-bottom: 0.7em;
}

.footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) {
  .square-cell {
    font-size: 4em;
  }
}
